.cardModal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.cardModal img {
  width: 100px;
}
.cardModal i {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 1.2rem;
}
.cardModal i:hover {
  cursor: pointer;
  color: red;
}
