.silder {
  display: flex;
  flex-direction: row;
  padding: 0 160px;
  gap: 20px;
  margin-top: 20px;
}
@media screen and (max-width: 1280px) {
  .silder {
    padding: 0px 120px;
  }
}
@media screen and (max-width: 1024px) {
  .silder {
    padding: 0px 60px;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 599px) {
  .silder {
    padding: 0px 20px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 375px) {
}
