.sliderImgs {
  position: relative;
}
.sliderImgs img {
  /* height: 85vh; */
  width: 100%;
  object-fit: cover;
}
.sliderImgs_title {
  padding: 10px;
  border-radius: 8px;
  background: transparent;
  backdrop-filter: blur(4px);
  overflow: hidden;
}
.sliderImgs_title p {
  margin: 0;
}

.sliderImgs_title a {
  display: inline-block;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.sliderImgs_title a:hover {
  color: var(--vip);
  transition: all 0.5s;
  /* text-shadow: 0 0 10px white; */
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #00f,
    0 0 70px #00f, 0 0 80px #00f;
}
