.silder {
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* margin-top: 20px; */
  /* background-color: var(--newbg); */
}
@media screen and (max-width: 1280px) {
  .silder {
  }
}
@media screen and (max-width: 1024px) {
  .silder {
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 599px) {
  .silder {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 375px) {
}
