.checkout {
  background-color: rgb(237, 239, 240);
  padding: 8px 160px;
  min-height: 80vh;
}
.checkout h3 {
  color: gray;
  font-size: 1.4rem;
  margin: 10px 0;
}
.checkout_information_user {
  padding-left: 80px;
}
.checkout_information_user * {
  margin-top: 5px;
}
.checkout_cart_child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.checkout_cart_child img {
  height: 120px;
  width: 100px;
  object-fit: cover;
}
.checkout_cart_child i:hover {
  cursor: pointer;
  color: red;
  transition: all 0.5s;
}
.checkout_temporary_money {
  font-weight: 500;
}
.checkout_information_user_radio {
  display: flex;
  flex-direction: column;
}

/* success */
.CheckOutSuccess {
  display: grid;
  place-content: center;
  background: url("https://i.pinimg.com/originals/fe/1c/24/fe1c24bd035bb202ce7c7de8d16ab00d.jpg")
    center/cover no-repeat;
  height: 80vh;
}
.CheckOutSuccess img {
  width: 280px;
  background-color: rgba(240, 248, 255, 0.7);
  border-radius: 50%;
}

@media screen and (max-width: 1280px) {
  .checkout {
    padding: 8px 120px;
  }
}
@media screen and (max-width: 1024px) {
  .checkout {
    padding: 8px 60px;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 599px) {
  .checkout {
    padding: 8px 20px;
    /* justify-content: flex-end; */
  }
}
@media screen and (max-width: 375px) {
}
