.nav_hover {
  position: absolute;
  top: 40px;
  box-shadow: 0 0 2px;
  border-radius: 4px;
  transition: ease-in-out 0.3s;
  z-index: 1;
  background-color: rgba(240, 248, 255, 0.8);
}
.nav_hover_s {
  position: absolute;
  z-index: 1;
}
