.productDetail {
  padding: 8px 160px;
  min-height: 80vh;
  background-color: aliceblue;
}
.product_detail {
  display: flex;
  gap: 10px;
}
.product_detail_imgPro img {
  width: 100%;
}
.product_detail_listimg {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product_detail_listimg img {
  width: 100%;
  object-fit: cover;
}
.product_detail img:hover {
  cursor: pointer;
}
.product_detail_listimg_boder {
  border: 3px solid var(--vip);
}
/* title */
.product_detail_titles {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding: 0 40px;
}
.product_detail_title {
  font-size: 24px;
  color: #444;
  text-transform: capitalize;
}
.product_detail_price {
  font-size: 30px;
  color: #222;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
}
/* more */
.product_detail_more p {
  font-size: 1.2rem;
  font-weight: 500;
}
.productDetail_img {
  min-height: 75vh;
}
@media screen and (max-width: 1280px) {
  .productDetail {
    padding: 8px 120px;
  }
}
@media screen and (max-width: 1024px) {
  .productDetail {
    padding: 8px 60px;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 599px) {
  .productDetail {
    padding: 8px 20px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 375px) {
}
