.social {
  padding: 0 160px;
  background-color: aliceblue;
}
.social_border {
  padding: 20px;
}
/* list */
.social_list {
  /* border-right: 0.5px solid rgba(128, 128, 128, 0.5); */
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  padding: 8px;
  border-radius: 8px;
}
.social_list_title {
  font-size: 1.2rem;
  font-weight: 500;
}
.social_list_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.social_list_ul li {
  display: inline-block;
  margin: 0 8px;
}
.social_list_ul li i {
  font-size: 1.6rem;
  margin-top: 6px;
}
.social_list_ul li i:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}
/* email */
.social_email {
  background: rgba(255, 255, 255, 0.5);
  padding: 8px;
  border-radius: 8px;
  text-align: center;
}
.social_email_input {
  display: flex;
  flex-direction: row;
  padding: 0 20px;
}
.social_email_input input {
  background: none;
}
.social_email_input button {
  border: 1px solid rgb(214, 214, 214);
  background: none;
  border-radius: 4px;
  color: var(--vip);
}
.social_email_input button:hover {
  background-color: var(--vip);
  color: white;
  border: 1px solid white;
  transition: all 0.5s;
  cursor: pointer;
}
@media screen and (max-width: 1280px) {
  .social {
    padding: 10px 120px;
  }
}
@media screen and (max-width: 1024px) {
  .social {
    padding: 10px 60px;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 599px) {
  .social {
    padding: 10px 20px;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 375px) {
}
