.forgot_password {
  display: grid;
  place-items: center;
  height: 80vh;
  background: url("https://i.pinimg.com/originals/57/aa/02/57aa02a0723e3435130640f0ab7f22e4.jpg")
    center/cover no-repeat;
}
.form_forgot_password {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0;
}
