.featured {
  margin-top: 28px;
}
.featured_title {
  text-align: center;
}
.react-multi-carousel-track {
  padding-bottom: 30px !important;
}
@media screen and (max-width: 1280px) {
  .featured {
  }
}
@media screen and (max-width: 1024px) {
  .featured {
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 599px) {
  .featured {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 375px) {
}
