.my_orders {
  background-color: rgb(211, 203, 203);
  padding: 20px 100px;
  min-height: 80vh;
}
.modalMyOrdersImg {
  display: flex;
  align-items: top;
  gap: 10px;
}
.modalMyOrdersImg img {
  width: 120px;
  height: 160px;
  object-fit: cover;
  border-radius: 4%;
}
