.my_orders {
  background-color: aliceblue;
  padding: 20px 100px;
  min-height: 80vh;
}
.modalMyOrdersImg {
  display: flex;
  align-items: top;
  gap: 10px;
}
.modalMyOrdersImg img {
  width: 120px;
  height: 160px;
  object-fit: cover;
  border-radius: 4%;
}

.my_orders {
  padding: 8px 160px;
}
.my_orders_all {
  color: var(--vip);
}
.my_orders_title:hover * {
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .my_orders {
    padding: 8px 120px;
  }
}
@media screen and (max-width: 1024px) {
  .my_orders {
    padding: 8px 60px;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 599px) {
  .my_orders {
    padding: 8px 20px;
    /* justify-content: flex-end; */
  }
}
@media screen and (max-width: 375px) {
}
