.contact_vip {
  background-color: var(--newbg);
  /* padding: 40px !important; */
}
.btn_contact {
  border: 2px solid var(--vip);
  color: var(--vip);
  font-weight: 500;
  transition: all 0.5s;
  font-size: 1rem;
}
.btn_contact:hover {
  background-color: var(--vip);
  color: var(--newbg);
  font-size: 1.1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
