.shopNav {
  border-right: 0.5px solid rgb(216, 216, 216);
}
.shopNav_li {
  border: none;
}
.shopNav_item:hover {
  background-color: var(--vip);
  color: white;
  transition: all 0.5s;
}
.shopNav_item:hover a {
  color: white !important;
  transition: all 0.5s;
}
.shopNav_item a.active {
  color: var(--vip) !important;
}
.shopNav_item:hover a.active {
  color: white !important;
}
