.shop_products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.ShopProducts_list {
  display: flex;
  flex-direction: row;
  padding: 0;
}
div.ShopProducts_list_child.col-md-3 {
  padding: 0 !important;
}
.Pagination {
  float: right;
  margin: 20px 0;
}
