.changepassword {
  display: grid;
  place-items: center;
  padding: 60px 0;
  background: url("https://i.pinimg.com/originals/86/e3/34/86e3344c625be5db137c16d6d06e5ad3.jpg")
    center/cover no-repeat;
}
.form_changepassword {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0;
}
