.carts {
}
.carts_footer {
  /* width: 100%; */
  position: fixed;
  bottom: 0;
  z-index: 1;
  right: 100px;
}
.carts .fa-trash-can:hover {
  cursor: pointer;
  color: red;
  transition: all 0.5s;
}
.carts_img {
  display: flex;
  align-items: top;
  gap: 4px;
}
.carts_img img {
  height: 160px;
  width: 120px;
  object-fit: cover;
}
